.headerlinks {
    max-width: fit-content;
    align-items: center;
    margin-left: auto;
}

header {
    display: inline-flex;
    height: 60px;
    background-color: #0f0f12;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px 15px 30px;
    max-width: 100%;

    
}


h6 {
    font-size: 2.9rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
}

a {
    font-size: 2.65rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
    color: #d5d5d0;
    text-decoration: none;
}

.headerlogo {
    margin: 0px 15px 0px 15px;
    max-height: 54px;
    max-width: fit-content;
}




body {
    background-color: #22232a;
    color: #d5d5d0;
    margin: 0px;
    max-width: 100%;
}