header {
    max-width: 100%;
    max-height: 60px;
    background-color: #0f0f12;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: fit-content;

    
}



h6 {
    font-size: 2.9rem;
    margin: 0px;
    max-width: fit-content;
}

a {
    font-size: 2.65rem;
    margin: 0px;
    max-width: fit-content;
    color: #d5d5d0;
    text-decoration: none;
}




body {
    background-color: #22232a;
    color: #d5d5d0;
    margin: 0px;
    max-width: 100%;
}