.headerlinks {
    max-width: fit-content;
    align-items: center;
    margin-left: auto;
}

.contacttext {
    text-align: left;
}

header {
    display: inline-flex;
    height: fit-content;
    max-height: fit-content;
    background-color: #16151a;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px 15px 30px;
    max-width: 100%;
}

.center {
    display: block;
    margin-left: auto; 
    margin-right: auto;
}

h1 {
    text-align: center;
    margin: 20px;
    font-size: 4rem;

}

h2 {
    text-align: center;
    margin: 20px;
    font-size: 2.3rem;

}
h3 {
    text-align: center;
    margin: 20px;
    font-size: 2rem;

}

h6 {
    font-size: 2.9rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

p {
    text-align: center;
    font-size: 1.3rem;
    max-width: 70%;
    margin: 0 auto;}



ul {
    display: inline-block;
    column-count: 2;
    column-gap: 50px;
    align-items: center;
}

ul.centerul {
    text-align: left;
}

li {
    font-size: 1.3rem;
    margin: 10px 0px 10px 0px;
}

div.centerul {
    text-align: center;
}

a {
    font-size: 2.65rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
    color: #d5d5d0;
    text-decoration: none;
}

.headerlogo {
    margin: 0px 15px 0px 15px;
    max-height: 54px;
    max-width: fit-content;
    
}

.profilepic {
    max-height: 350px;
    max-width: fit-content;
    display: block;
    padding-top: 40px;
    margin-bottom: 65px;

}

.flexsections {
    display: inline-flex;
}

.formsection {
    margin: 4% 7% 4% 7%;
}

input {
    padding: 20px;
    font-size: 1.2rem;
    width: 96.65%;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
    font-size: 1.2rem;
}

button {
    padding: 20px;
    font-size: 1.2rem;
    margin: 40px  20px  20px  20px;
}

body {
    background-color: #22232a;
    color: #d5d5d0;
    margin: 0px;
    max-width: 100%;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 0px 15% 30px 15%;
}

.flexblock { 
    display: flex;
    gap: 100px;
    flex: 1 1 200px;
    max-width: 500px;
    height: 460px;
    padding: 40px;
    background-color: #16151a;
    text-align: center;
}

.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

img.project {
    width: 100%;
    height: auto;
}

hr {
    width: 50px;
    margin: 25px auto;
    border: 1px solid #d5d5d0;
}