.headerlinks {
    max-width: fit-content;
    align-items: center;
    margin-left: auto;
}

header {
    display: inline-flex;
    height: fit-content;
    max-height: fit-content;
    background-color: #0f0f12;
    display: flex;
    align-items: flex-end;
    padding: 15px 30px 15px 30px;
    max-width: 100%;
    
}


h6 {
    font-size: 2.9rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
}

a {
    font-size: 2.65rem;
    margin: 0px 15px 0px 15px;
    max-width: fit-content;
    color: #d5d5d0;
    text-decoration: none;
}

.headerlogo {
    margin: 0px 15px 0px 15px;
    max-height: 54px;
    max-width: fit-content;
}

.profilepic {
    margin: 0px 15px 0px 15px;
    max-height: 350px;
    max-width: fit-content;
}

.flexsections {
    display: flex;
}

section {
    align-content: center;
}

.formsection {
    margin: 4% 7% 4% 7%;
}

input {
    padding: 20px;
    font-size: 1.2rem;
    width: 96.65%;
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 20px;
    font-size: 1.2rem;

}

button {
    padding: 20px;
    font-size: 1.2rem;
}

body {
    background-color: #22232a;
    color: #d5d5d0;
    margin: 0px;
    max-width: 100%;
}