header {
    max-height: 60px;
    background-color: #0f0f12;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 100%;
    height: fit-content;
    
}

h6 {
    font-size: 5rem;
}





body {
    background-color: #22232a;
    color: #d5d5d0;

}